# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Folders
[xX]64/
Release/
Debug/
build/

# Visual C++ intermediate files
*.obj
*.pch
*.idb
*.pdb
*.ipch
*.tlog
*.log
*.lastbuildstate
*.lib.recipe
*.Build.CppClean.log
*.FileListAbsolute.txt

# Generated binaries
*.lib
*.dll
*.exe

# Ignore system files
Thumbs.db
Desktop.ini
